
.menu
{
	display: flex;
	flex-direction: column;
	align-items: center;
	border: solid black 1px;
	flex-wrap: nowrap;
	text-decoration-color:  #000000;
	list-style-type: none;
	border: solid 1px white;
}

ol
{
	list-style-type: none;
	text-decoration-color: #000000 ;
	border: solid 1px white;		
}

li
{
	text-decoration-color:  #000000 ;

		
	
}

#art3
{
	display: flex;
	flex-direction: column;

}

.drapeau
{
	display: flex;
	flex-direction: column;	
}

.imagtext
{
	display: flex;
	justify-content: center;	
}

.artdrap
{
	display: flex;
	flex-direction: column;	
}


.titre2
{
	list-style-type: none;
	text-decoration-color:#000000 ;
	align-items: center;
	display: flex;
	text-align: center;
	
	
}	

footer
{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:#c6b6c8 ;	
	border: solid black 1px;	
}
